.header {
    background: linear-gradient(245deg, #fbfaff 90%, #f8f7fc 0);
    width: 100%;
    &__background {
        width: 150%;
        height: 65vw;
        top: -5%;
        left: -28vw;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 70px 10px #d9d9d9;
        transform: rotate(60deg);
        background: linear-gradient(245deg, #fbfaff 90%, #f8f7fc 0);
        &-wrapper {
            width: 100%;
            height: 65vw;
            position: absolute;
            overflow: hidden;
        }
    }
    .smartphone2 {
        position: absolute;
        right: 0%;
        top: 9%;
        width: 41%;
        z-index: 2;
    }
    .smartphone {
        position: absolute;
        right: -11%;
        top: -41%;
        width: 41%;
    }
    .tr-light {
        position: absolute;
        width: 20%;
        left: -10%;
        top: 12%;
    }
    .tr-blur {
        position: absolute;
        width: 9%;
        top: 20%;
        left: 2%;
    }
    &__content {
        position: relative;
        margin: 0 0 0 82px;
    }
    &__absolute {
        position: absolute;
        height: 370px;
        width: 414px;
        left: -207px;
        top: 160px;
        background: url("../img/head-triang.png") center center no-repeat;
    }
    &__wrapper-title {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        max-width: 567px;
        margin-bottom: 50px;
        margin-top: 150px;
        &:after {
            content: '';
            position: absolute;
        }
        .purple-btn {
            margin-left: 15px;
            margin-bottom: 10px;
        }
        .title {
            display: inline-block;
            text-align: right;
        }
    }
    &__desc {
        max-width: 615px;
        color: #151515;
        font-family: $mullerReg;
        font-size: 20px;
        padding-bottom: 80px;
        line-height: 26px;
    }
    .covering{
        padding: 50px 40px 40px;
        font-size: 36px;
        font-family: 'Muller-Bold';
        z-index: 1;
        line-height: 1em;
        right: -325px;
        .number {
            font-size: 54px;
            line-height: 70px;
            font-family: Muller-Bold;
        }
        .bottom {
            font-family: 'Muller';
            text-align: right;
            display: block;
            margin-top: 15px;
            font-size: 36px;
            line-height: 1em;
        }
    }

    .absolute-text {
        left: -185px;
        top: 347px;
    }
    &__info {
        max-width: 529px;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        position: relative;
        padding: 0 10px 80px 30px;
        a {
            font-weight: 700;
        }
    }
}
