.main-menu {
	position: relative;
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 82px;
	li {
		display: inline-block;
		margin: 20px;
		a {
			text-decoration: none;
			transition: 200ms ease;
			display: inline-block;
			overflow: hidden;
			&:after{
				content: '';
				transition: 200ms ease;
				height: 1px;
				width: 100%;
				display: block;
				background: #512da8;
				transform: translateX(-100%);
				opacity: 0;
			}
			&:hover{
				&:after{
					opacity: 1;
					transform: translateX(0%);
				}


			}
		}
	}
}