.opportunities {
	padding-bottom: 100px;
	padding-top: 20px;
	.absolute-text {
		top: 260px;
		left: -85px;
	}
	.title {
		width: 60%;
		margin-bottom: 0;
	}
	.covering {
		width: 400px;
		right: 0;
		top: -95px;
		&__text {
			padding: 10px 50px;
			span {
				color: #653cc7;
				font-family: $mullerExtra;
				font-size: 54px;
			}
			p {
				margin-top: 0;
				font-weight: 700;
			}
			.opportunities__next {
				position: absolute;
				content: "";
				width: 62px;
				height: 69px;
				top: 225px;
				left: -30px;
				cursor: pointer;
				background-image: url(../img/t.png);
				background-size: 100%;
				background-repeat: no-repeat;
				img {
					margin-top: 17px;
					margin-left: 19px;
				}
				&:before {
					position: absolute;
					content: "next";
					font-family: $mullerExtra;
					text-transform: uppercase;
					transform: rotate(-90deg);
					top: 20px;
					left: -25px;
					letter-spacing: 2px;
					font-size: 14px;
				}
			}
		}
		&:before {
			display: none;
		}
	}
	&__slider {
		overflow: hidden;
		border-top-right-radius: 50px;
		&-text {
			width: 60%;
			margin-left: 50px;
			span {
				font-family: $mullerExtra;
			}
		}
		&-img {
			width: 100%;
			height: 260px;
			.slider-wrapper,
			.slider-item {
				height: 100%;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.slider-item {
			width: calc(100% / 8);
		}
		.slider-wrapper {
			width: calc(100% * 8);
			display: flex;
			position: relative;
			left: 0px;
			top: 0;
		}
	}
}