.statistics-service {
	padding: 70px 0;
	.statistics-service-background {
		width: 100%;
		position: absolute;
		overflow: hidden;
		height: 150px;
		.tr-normal {
			position: relative;
			width: 90px;
			transform: rotate(75deg);
			left: 1220px;
			top: 15px;
		}
		.tr-transparent {
			width: 60px;
			transform: rotate(-15deg);
			position: relative;
			left: 1075px;
			top: 40px;
		}
	}
	&__main {
		width: 68%;
		p {
			margin-left: 70px;
		}
	}
	.covering {
		right: -10px;
		top: -150px;
		width: 36%;
		padding: 40px 0;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		&:before {
			top: 120px;
			left: -35px;
			width: 70px;
			height: 80px;
		}
		&-item {
			margin-bottom: 40px;
			width: 88%;
			p {
				margin: 0;
				font-weight: 700;
				padding-right: 40px;
			}
			span {
				color: #653cc7;
				font-family: 'Muller-Bold';
				font-size: 54px;
			}
		}
		.middle {
			display: flex;
			justify-content: space-around;
			align-items: center;
			p {
				width: 60%;
				padding-right: 0;
			}
			span {
				width: 40%;
			}
		}
	}
}