* {
	color: #151515;
	font-family: 'Muller';
	outline: none;
}

body {
	margin: 0;
}

.wrapper {
	margin: 0 15%;
}

.title {
	font-family: 'Muller-Bold';
	text-transform: uppercase;
	font-size: 34px;
	line-height: 1.2em;
}
.purple-btn{
	border: none;
	border-radius: 35px;
	box-sizing: border-box;
	text-decoration: none;
	width: 220px;
	display: flex;
	align-items: center;
	padding: 6px;
	font-size: 21px;
	font-family: 'Muller-Medium';
	cursor: pointer;
	box-shadow: -12px 10px 32px rgba(81, 45, 168, 0.42);
	background-color: #512da8;
	background-image: linear-gradient(-214deg, #7246db 0%, #512da8 100%);
	color: #fff;
	transition: 200ms ease;
	&:hover{
		transition: 200ms ease;
	}
	.btn-img {
		width: 40px;
		height: 40px;
		box-shadow: -4px 3px 10px rgba(0, 0, 0, 0.35);
		background-color: #ffffff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
	}
}

.btn-white {
	background-color: #fff;
	border: none;
	border-radius: 35px;
	width: 220px;
	display: flex;
	color: #5b28ad;
	display: flex;
	align-items: center;
	padding: 6px;
	font-size: 21px;
	font-family: 'Muller-Medium';
	box-shadow: -12px 10px 32px rgba(81, 45, 168, 0.42);
	cursor: pointer;
	.btn-img {
		width: 40px;
		height: 40px;
		background: linear-gradient(to right, #683fcc, #5c35b9);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
	}
}
